In [1]:
import pandas as pd
import geopandas as gpd 
import matplotlib.pyplot as plt 
import contextily as ctx
import numpy as np
import quilt3
from geopandas_view import view

In [26]:
gpd.read_file?

Signature: gpd.read_file(filename, bbox=None, mask=None, rows=None, **kwargs)
Docstring:
Returns a GeoDataFrame from a file or URL.

.. versionadded:: 0.7.0 mask, rows

Parameters
----------
filename : str, path object or file-like object
    Either the absolute or relative path to the file or URL to
    be opened, or any object with a read() method (such as an open file
    or StringIO)
bbox : tuple | GeoDataFrame or GeoSeries | shapely Geometry, default None
    Filter features by given bounding box, GeoSeries, GeoDataFrame or a
    shapely geometry. CRS mis-matches are resolved if given a GeoSeries
    or GeoDataFrame. Cannot be used with mask.
mask : dict | GeoDataFrame or GeoSeries | shapely Geometry, default None
    Filter for features that intersect with the given dict-like geojson
    geometry, GeoSeries, GeoDataFrame or shapely geometry.
    CRS mis-matches are resolved if given a GeoSeries or GeoDataFrame.
    Cannot be used with bbox.
rows : int or slice, default None
    Load in specific rows by passing an integer (first `n` rows) or a
    slice() object.
**kwargs :
    Keyword args to be passed to the `open` or `BytesCollection` method
    in the fiona library when opening the file. For more information on
    possible keywords, type:
    ``import fiona; help(fiona.open)``

Examples
--------
>>> df = geopandas.read_file("nybb.shp")

Returns
-------
:obj:`geopandas.GeoDataFrame` or :obj:`pandas.DataFrame` :
    If `ignore_geometry=True` a :obj:`pandas.DataFrame` will be returned.

Notes
-----
The format drivers will attempt to detect the encoding of your data, but
may fail. In this case, the proper encoding can be specified explicitly
by using the encoding keyword parameter, e.g. ``encoding='utf-8'``.
File:      /opt/tljh/user/lib/python3.7/site-packages/geopandas/io/file.py
Type:      function

In [2]:
SEDA = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/seda_cov_school_poolyr_4.0.csv")

In [3]:
SEDA

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
0,10000500870,2009,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.066071,0.546429,0.547237,"Town, Fringe",NaN,NaN,NaN,NaN,NaN,280.000000
1,10000500870,2010,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.073864,0.606061,0.588803,"Town, Distant",NaN,NaN,NaN,NaN,NaN,263.000000
2,10000500870,2011,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.049296,0.647887,0.643357,"Town, Distant",NaN,NaN,NaN,NaN,NaN,284.000000
3,10000500870,2012,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.082237,0.644737,0.641322,"Town, Distant",0.099836,0.088380,0.081833,0.0,0.0,303.500000
4,10000500870,2013,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.057096,0.601958,0.633058,"Town, Distant",NaN,NaN,NaN,NaN,NaN,306.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746818,720003002084,2014,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.075221,0.920354,0.983051,"City, Large",NaN,NaN,NaN,NaN,NaN,55.000000
746819,720003002084,2015,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.087379,0.902913,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,43.000000
746820,720003002084,2016,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.085714,0.891429,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,37.000000
746821,720003002084,2017,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.069565,0.860870,0.953917,"City, Large",NaN,NaN,NaN,NaN,NaN,28.000000
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.0,0.0,41.333332

In [4]:
type(SEDA)

pandas.core.frame.DataFrame

In [5]:
SEDA.shape

(746823, 31)

In [6]:
#CONTAINS 31 COLUMNS

In [7]:
SEDA.columns

Index(['sedasch', 'year', 'schnam', 'schcity', 'sedalea', 'fips', 'stateabb',
       'type', 'level', 'mingrd', 'maxgrd', 'charter', 'magnet', 'urbanicity',
       'totenrl', 'perwht', 'perind', 'perasn', 'perhsp', 'perblk', 'perfl',
       'perrl', 'perfrl', 'perecd', 'locale', 'lep', 'disab_tot',
       'disab_tot_idea', 'gifted_tot', 'sch_sped', 'avgrdall'],
      dtype='object')

In [8]:
SEDA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746823 entries, 0 to 746822
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sedasch         746823 non-null  int64
 1   year            746823 non-null  int64
 2   schnam          746823 non-null  object
 3   schcity         746810 non-null  object
 4   sedalea         746823 non-null  int64
 5   fips            746823 non-null  int64
 6   stateabb        746823 non-null  object
 7   type            746810 non-null  object
 8   level           746609 non-null  object
 9   mingrd          740278 non-null  float64
 10  maxgrd          740278 non-null  float64
 11  charter         746810 non-null  float64
 12  magnet          746810 non-null  float64
 13  urbanicity      746483 non-null  object
 14  totenrl         746823 non-null  float64
 15  perwht          746823 non-null  float64
 16  perind          746823 non-null  float64
 17  perasn          746823 non-null  float64
 18  perhsp          746823 non-null  float64
 19  perblk          746823 non-null  float64
 20  perfl           746823 non-null  float64
 21  perrl           746823 non-null  float64
 22  perfrl          746823 non-null  float64
 23  perecd          725101 non-null  float64
 24  locale          746483 non-null  object
 25  lep             286696 non-null  float64
 26  disab_tot       281485 non-null  float64
 27  disab_tot_idea  281513 non-null  float64
 28  gifted_tot      286672 non-null  float64
 29  sch_sped        286738 non-null  float64
 30  avgrdall        737196 non-null  float64
dtypes: float64(20), int64(4), object(7)
memory usage: 176.6+ MB

In [9]:
SEDA

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
0,10000500870,2009,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.066071,0.546429,0.547237,"Town, Fringe",NaN,NaN,NaN,NaN,NaN,280.000000
1,10000500870,2010,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.073864,0.606061,0.588803,"Town, Distant",NaN,NaN,NaN,NaN,NaN,263.000000
2,10000500870,2011,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.049296,0.647887,0.643357,"Town, Distant",NaN,NaN,NaN,NaN,NaN,284.000000
3,10000500870,2012,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.082237,0.644737,0.641322,"Town, Distant",0.099836,0.088380,0.081833,0.0,0.0,303.500000
4,10000500870,2013,Albertville Middle School,ALBERTVILLE,100005,1,AL,Regular School,Middle,7.0,...,0.057096,0.601958,0.633058,"Town, Distant",NaN,NaN,NaN,NaN,NaN,306.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746818,720003002084,2014,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.075221,0.920354,0.983051,"City, Large",NaN,NaN,NaN,NaN,NaN,55.000000
746819,720003002084,2015,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.087379,0.902913,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,43.000000
746820,720003002084,2016,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.085714,0.891429,1.000000,"City, Large",NaN,NaN,NaN,NaN,NaN,37.000000
746821,720003002084,2017,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.069565,0.860870,0.953917,"City, Large",NaN,NaN,NaN,NaN,NaN,28.000000
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.0,0.0,41.333332

In [10]:
seda_2018yr = SEDA[SEDA.year == 2018]

In [11]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [12]:
seda_2018yr.shape

(73345, 31)

In [13]:
seda_2018yr_riv = seda_2018yr[seda_2018yr['sedasch']=='06065']

In [14]:
seda_2018yr_riv

Empty DataFrame
Columns: [sedasch, year, schnam, schcity, sedalea, fips, stateabb, type, level, mingrd, maxgrd, charter, magnet, urbanicity, totenrl, perwht, perind, perasn, perhsp, perblk, perfl, perrl, perfrl, perecd, locale, lep, disab_tot, disab_tot_idea, gifted_tot, sch_sped, avgrdall]
Index: []

[0 rows x 31 columns]

In [15]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [16]:
seda_2018yr_riv

Empty DataFrame
Columns: [sedasch, year, schnam, schcity, sedalea, fips, stateabb, type, level, mingrd, maxgrd, charter, magnet, urbanicity, totenrl, perwht, perind, perasn, perhsp, perblk, perfl, perrl, perfrl, perecd, locale, lep, disab_tot, disab_tot_idea, gifted_tot, sch_sped, avgrdall]
Index: []

[0 rows x 31 columns]

In [17]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [18]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [19]:
seda_2018yr_riverside = seda_2018yr[seda_2018yr['sedasch']=='06065']

In [20]:
seda_2018yr_riverside

Empty DataFrame
Columns: [sedasch, year, schnam, schcity, sedalea, fips, stateabb, type, level, mingrd, maxgrd, charter, magnet, urbanicity, totenrl, perwht, perind, perasn, perhsp, perblk, perfl, perrl, perfrl, perecd, locale, lep, disab_tot, disab_tot_idea, gifted_tot, sch_sped, avgrdall]
Index: []

[0 rows x 31 columns]

In [21]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [28]:
b = quilt3.Bucket("s3://spatial-ucr")
b.fetch("epa/ejscreen/ejscreen_2020.parquet", "./ejscreen_2020.parquet"), 
ej = pd.read_parquet('ejscreen_2020.parquet')

ej

100%|██████████| 146M/146M [00:05<00:00, 27.8MB/s]

,OBJECTID,ID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,MINORPOP,MINORPCT,LOWINCOME,...,T_OZONE,T_OZONE_D2,T_PM25,T_PM25_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,1,010010201001,636,636,418,294,294,104,0.163522,245,...,36.8 ppb (15%ile),54%ile,9.69 ug/m3 (86%ile),52%ile,4259428.0,28435.0,0,0,13443.155206,6.040790e+06
1,2,010010201002,1287,1287,885,471,485,278,0.216006,210,...,36.8 ppb (15%ile),36%ile,9.69 ug/m3 (86%ile),28%ile,5558385.0,0.0,0,0,11917.089598,7.834160e+06
2,3,010010202001,810,802,568,322,370,548,0.676543,402,...,36.8 ppb (16%ile),70%ile,9.71 ug/m3 (86%ile),72%ile,2058380.0,0.0,0,0,7770.915121,2.900774e+06
3,4,010010202002,1218,1016,875,397,482,670,0.550082,400,...,36.8 ppb (16%ile),67%ile,9.71 ug/m3 (86%ile),69%ile,1267299.0,5669.0,0,0,6506.804784,1.793332e+06
4,5,010010203001,2641,2641,1849,948,1049,899,0.340401,814,...,36.9 ppb (16%ile),51%ile,9.75 ug/m3 (86%ile),48%ile,3866515.0,9054.0,0,0,11070.367848,5.461602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,220329,721537506011,699,699,511,250,502,699,1.000000,631,...,None,None,None,None,7628406.0,4527.0,0,0,19751.958143,8.486394e+06
220329,220330,721537506012,2432,2432,1555,670,1025,2432,1.000000,1906,...,None,None,None,None,1569471.0,0.0,0,0,6704.079316,1.744950e+06
220330,220331,721537506013,976,976,552,231,416,976,1.000000,758,...,None,None,None,None,1789160.0,0.0,0,0,7737.485130,1.989274e+06
220331,220332,721537506021,1707,1689,1481,573,849,1707,1.000000,1465,...,None,None,None,None,1136084.0,1997.0,0,0,5128.437876,1.265271e+06
220332,220333,721537506022,804,804,645,219,634,804,1.000000,758,...,None,None,None,None,16384392.0,250956.0,0,0,20006.384457,1.848868e+07

In [29]:
ej.rename(columns = {'ID' : 'GEOID'}, inplace = True)

ej

,OBJECTID,GEOID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,MINORPOP,MINORPCT,LOWINCOME,...,T_OZONE,T_OZONE_D2,T_PM25,T_PM25_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,1,010010201001,636,636,418,294,294,104,0.163522,245,...,36.8 ppb (15%ile),54%ile,9.69 ug/m3 (86%ile),52%ile,4259428.0,28435.0,0,0,13443.155206,6.040790e+06
1,2,010010201002,1287,1287,885,471,485,278,0.216006,210,...,36.8 ppb (15%ile),36%ile,9.69 ug/m3 (86%ile),28%ile,5558385.0,0.0,0,0,11917.089598,7.834160e+06
2,3,010010202001,810,802,568,322,370,548,0.676543,402,...,36.8 ppb (16%ile),70%ile,9.71 ug/m3 (86%ile),72%ile,2058380.0,0.0,0,0,7770.915121,2.900774e+06
3,4,010010202002,1218,1016,875,397,482,670,0.550082,400,...,36.8 ppb (16%ile),67%ile,9.71 ug/m3 (86%ile),69%ile,1267299.0,5669.0,0,0,6506.804784,1.793332e+06
4,5,010010203001,2641,2641,1849,948,1049,899,0.340401,814,...,36.9 ppb (16%ile),51%ile,9.75 ug/m3 (86%ile),48%ile,3866515.0,9054.0,0,0,11070.367848,5.461602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,220329,721537506011,699,699,511,250,502,699,1.000000,631,...,None,None,None,None,7628406.0,4527.0,0,0,19751.958143,8.486394e+06
220329,220330,721537506012,2432,2432,1555,670,1025,2432,1.000000,1906,...,None,None,None,None,1569471.0,0.0,0,0,6704.079316,1.744950e+06
220330,220331,721537506013,976,976,552,231,416,976,1.000000,758,...,None,None,None,None,1789160.0,0.0,0,0,7737.485130,1.989274e+06
220331,220332,721537506021,1707,1689,1481,573,849,1707,1.000000,1465,...,None,None,None,None,1136084.0,1997.0,0,0,5128.437876,1.265271e+06
220332,220333,721537506022,804,804,645,219,634,804,1.000000,758,...,None,None,None,None,16384392.0,250956.0,0,0,20006.384457,1.848868e+07

In [30]:
seda_2018yr

,sedasch,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [31]:
seda_2018yr.rename(columns = {'sedasch' : ' GEOID'}, inplace = True)

seda_2018yr

/opt/tljh/user/lib/python3.7/site-packages/pandas/core/frame.py:4449: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,GEOID,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [32]:
acs_data = gpd.read_parquet('s3://spatial-ucr/census/acs/acs_2018_bg.parquet')

acs_data

,n_persons_under_18,n_persons_over_60,n_persons_over_75,n_persons_over_15,n_married,n_widowed_divorced,n_total_families,n_female_headed_families,n_nonhisp_white_persons,n_nonhisp_black_persons,...,p_female_headed_families,p_nonhisp_white_persons,p_nonhisp_black_persons,p_hispanic_persons,p_native_persons,p_asian_persons,p_hawaiian_persons,p_asian_indian_persons,p_veterans,geometry
GEOID,,,,,,,,,,,,,,,,,,,,,
020130001003,287.0,213.0,26.0,1164.0,154.0,218.0,280.0,29.0,234.0,4.0,...,10.357143,16.846652,0.287977,6.839453,41.324694,23.182145,1.007919,23.182145,4.463643,"MULTIPOLYGON (((-159.91033 54.81417, -159.9057..."
020160001001,175.0,157.0,25.0,807.0,64.0,146.0,127.0,10.0,203.0,41.0,...,7.874016,20.949432,4.231166,11.764706,48.710010,9.907121,3.405573,9.907121,12.074303,"MULTIPOLYGON (((179.38874 51.94192, 179.40456 ..."
020160002001,320.0,224.0,21.0,1884.0,256.0,302.0,248.0,3.0,270.0,91.0,...,1.209677,12.517385,4.218822,12.888271,1.205378,66.759388,0.834492,66.759388,2.781641,"MULTIPOLYGON (((-167.24289 53.85467, -167.2370..."
020160002002,468.0,335.0,29.0,2220.0,304.0,435.0,341.0,6.0,916.0,114.0,...,1.759531,34.908537,4.344512,15.472561,5.182927,33.574695,3.696646,33.574695,3.620427,"MULTIPOLYGON (((-167.90386 53.22286, -167.8910..."
020200001011,75.0,79.0,37.0,404.0,49.0,73.0,63.0,0.0,351.0,4.0,...,0.000000,75.646552,0.862069,0.000000,12.715517,3.232759,0.000000,3.232759,9.482759,"MULTIPOLYGON (((-149.47075 61.45923, -149.4505..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560419753004,100.0,179.0,36.0,490.0,156.0,96.0,159.0,0.0,538.0,0.0,...,0.000000,94.885362,0.000000,1.940035,3.174603,0.000000,0.000000,0.000000,5.820106,"MULTIPOLYGON (((-110.95727 41.25777, -110.9572..."
560419753005,310.0,198.0,68.0,754.0,317.0,0.0,344.0,0.0,901.0,0.0,...,0.000000,89.562624,0.000000,8.747515,0.000000,0.000000,0.000000,0.000000,5.864811,"MULTIPOLYGON (((-110.98205 41.21578, -110.9816..."
560419753006,344.0,213.0,21.0,1049.0,263.0,205.0,307.0,49.0,1299.0,0.0,...,15.960912,98.933740,0.000000,0.685453,0.380807,0.000000,0.000000,0.000000,3.884235,"MULTIPOLYGON (((-111.04584 41.57985, -111.0454..."
560419754001,153.0,73.0,23.0,595.0,117.0,194.0,163.0,0.0,535.0,0.0,...,0.000000,71.524064,0.000000,22.326203,1.470588,0.000000,0.000000,0.000000,1.470588,"MULTIPOLYGON (((-110.97586 41.29238, -110.9756..."
560419754002,354.0,193.0,83.0,945.0,308.0,72.0,370.0,42.0,984.0,0.0,...,11.351351,85.565217,0.000000,13.304348,0.000000,0.000000,0.000000,0.000000,5.304348,"MULTIPOLYGON (((-111.00764 41.25100, -111.0076..."

In [33]:
schools = gpd.read_parquet('s3://spatial-ucr/nces/schools/schools_1718.parquet')

In [34]:
schools

,NCESSCH,NAME,OPSTFIPS,STREET,CITY,STATE,ZIP,STFIP,CNTY,NMCNTY,...,CBSATYPE,CSA,NMCSA,NECTA,NMNECTA,CD,SLDL,SLDU,SCHOOLYEAR,geometry
0,010000500870,Albertville Middle School,01,600 E Alabama Ave,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.20617 34.26019)
1,010000500871,Albertville High School,01,402 E McCord Ave,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.20488 34.26223)
2,010000500879,Evans Elementary School,01,901 W McKinney Ave,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.22014 34.27332)
3,010000500889,Albertville Elementary School,01,1100 Horton Rd,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.22183 34.25325)
4,010000501616,Big Spring Lake Kindergarten School,01,257 Country Club Rd,Albertville,AL,35951,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.19329 34.28985)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102332,780003000025,GLADYS A. ABRAHAM ELEMENTARY SCHOOL,78,68A ESTATE LINDBERG,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.96793 18.34456)
102333,780003000026,ULLA F MULLER ELEMENTARY SCHOOL,78,7B ESTATE CONTANT,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.95248 18.33874)
102334,780003000027,YVONNE BOWSKY ELEMENTARY SCHOOL,78,15B and 16 ESTATE MANDAHL,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.89902 18.35478)
102335,780003000033,CANCRYN JUNIOR HIGH SCHOOL,78,1 CROWN BAY,Saint Thomas,VI,00804,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.94594 18.33666)
102336,780003000034,BERTHA BOSCHULTE JUNIOR HIGH,78,9 1 and 12A BOVONI,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.89031 18.31823)

In [35]:
schools.rename(columns = {'NCESSCH' : ' GEOID'}, inplace = True)

schools

,GEOID,NAME,OPSTFIPS,STREET,CITY,STATE,ZIP,STFIP,CNTY,NMCNTY,...,CBSATYPE,CSA,NMCSA,NECTA,NMNECTA,CD,SLDL,SLDU,SCHOOLYEAR,geometry
0,010000500870,Albertville Middle School,01,600 E Alabama Ave,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.20617 34.26019)
1,010000500871,Albertville High School,01,402 E McCord Ave,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.20488 34.26223)
2,010000500879,Evans Elementary School,01,901 W McKinney Ave,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.22014 34.27332)
3,010000500889,Albertville Elementary School,01,1100 Horton Rd,Albertville,AL,35950,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.22183 34.25325)
4,010000501616,Big Spring Lake Kindergarten School,01,257 Country Club Rd,Albertville,AL,35951,01,01095,Marshall County,...,2,290,"Huntsville-Decatur-Albertville, AL",N,N,0104,01026,01009,2017-2018,POINT (-86.19329 34.28985)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102332,780003000025,GLADYS A. ABRAHAM ELEMENTARY SCHOOL,78,68A ESTATE LINDBERG,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.96793 18.34456)
102333,780003000026,ULLA F MULLER ELEMENTARY SCHOOL,78,7B ESTATE CONTANT,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.95248 18.33874)
102334,780003000027,YVONNE BOWSKY ELEMENTARY SCHOOL,78,15B and 16 ESTATE MANDAHL,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.89902 18.35478)
102335,780003000033,CANCRYN JUNIOR HIGH SCHOOL,78,1 CROWN BAY,Saint Thomas,VI,00804,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.94594 18.33666)
102336,780003000034,BERTHA BOSCHULTE JUNIOR HIGH,78,9 1 and 12A BOVONI,Saint Thomas,VI,00802,78,78030,St. Thomas Island,...,0,N,N,N,N,7898,N,N,2017-2018,POINT (-64.89031 18.31823)

In [36]:
seda_2018yr

,GEOID,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [44]:
seda_2018yr = seda_2018yr[seda_2018yr['GEOID']=='06065']

KeyError: 'GEOID'

In [41]:
schools = schools[schools['CNTY']=='06065']

In [42]:
schools

,GEOID,NAME,OPSTFIPS,STREET,CITY,STATE,ZIP,STFIP,CNTY,NMCNTY,...,CBSATYPE,CSA,NMCSA,NECTA,NMNECTA,CD,SLDL,SLDU,SCHOOLYEAR,geometry
5576,060000710348,California School for the Deaf-Riverside,06,3044 Horace St.,Riverside,CA,92506,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.37942 33.94373)
5727,060002702451,Tuscany Hills Elementary,06,23 Ponte Russo,Lake Elsinore,CA,92532,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.28897 33.68620)
5728,060002702452,Donald Graham Elementary,06,35450 Frederick St.,Wildomar,CA,92595,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.25699 33.60594)
5729,060002705011,David A. Brown Middle,06,21861 Grand Ave.,Wildomar,CA,92595,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.27617 33.59164)
5730,060002707605,William Collier Elementary,06,20150 Mayhall Dr.,Wildomar,CA,92595,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.30098 33.61655)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15979,069113512749,Val Verde Academy,06,25100 Red Maple Ln.,Moreno Valley,CA,92551,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.22376 33.88578)
15980,069113513435,El Potrero Pre-School,06,16820 Via Pamplona,Moreno Valley,CA,92551,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.21514 33.87590)
15981,069113513992,Orange Vista High,06,1400 E. Orange Ave.,Perris,CA,92571,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.19894 33.81450)
100864,590010500138,Sherman Indian High School,59,9010 Magnolia Ave,Riverside,CA,92503,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06060,06031,2017-2018,POINT (-117.43657 33.92276)
100956,590019700136,Noli School,59,P.O. Box 700,San Jacinto,CA,92581,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0636,06042,06023,2017-2018,POINT (-116.90631 33.77266)

In [45]:
acs_data

,n_persons_under_18,n_persons_over_60,n_persons_over_75,n_persons_over_15,n_married,n_widowed_divorced,n_total_families,n_female_headed_families,n_nonhisp_white_persons,n_nonhisp_black_persons,...,p_female_headed_families,p_nonhisp_white_persons,p_nonhisp_black_persons,p_hispanic_persons,p_native_persons,p_asian_persons,p_hawaiian_persons,p_asian_indian_persons,p_veterans,geometry
GEOID,,,,,,,,,,,,,,,,,,,,,
020130001003,287.0,213.0,26.0,1164.0,154.0,218.0,280.0,29.0,234.0,4.0,...,10.357143,16.846652,0.287977,6.839453,41.324694,23.182145,1.007919,23.182145,4.463643,"MULTIPOLYGON (((-159.91033 54.81417, -159.9057..."
020160001001,175.0,157.0,25.0,807.0,64.0,146.0,127.0,10.0,203.0,41.0,...,7.874016,20.949432,4.231166,11.764706,48.710010,9.907121,3.405573,9.907121,12.074303,"MULTIPOLYGON (((179.38874 51.94192, 179.40456 ..."
020160002001,320.0,224.0,21.0,1884.0,256.0,302.0,248.0,3.0,270.0,91.0,...,1.209677,12.517385,4.218822,12.888271,1.205378,66.759388,0.834492,66.759388,2.781641,"MULTIPOLYGON (((-167.24289 53.85467, -167.2370..."
020160002002,468.0,335.0,29.0,2220.0,304.0,435.0,341.0,6.0,916.0,114.0,...,1.759531,34.908537,4.344512,15.472561,5.182927,33.574695,3.696646,33.574695,3.620427,"MULTIPOLYGON (((-167.90386 53.22286, -167.8910..."
020200001011,75.0,79.0,37.0,404.0,49.0,73.0,63.0,0.0,351.0,4.0,...,0.000000,75.646552,0.862069,0.000000,12.715517,3.232759,0.000000,3.232759,9.482759,"MULTIPOLYGON (((-149.47075 61.45923, -149.4505..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560419753004,100.0,179.0,36.0,490.0,156.0,96.0,159.0,0.0,538.0,0.0,...,0.000000,94.885362,0.000000,1.940035,3.174603,0.000000,0.000000,0.000000,5.820106,"MULTIPOLYGON (((-110.95727 41.25777, -110.9572..."
560419753005,310.0,198.0,68.0,754.0,317.0,0.0,344.0,0.0,901.0,0.0,...,0.000000,89.562624,0.000000,8.747515,0.000000,0.000000,0.000000,0.000000,5.864811,"MULTIPOLYGON (((-110.98205 41.21578, -110.9816..."
560419753006,344.0,213.0,21.0,1049.0,263.0,205.0,307.0,49.0,1299.0,0.0,...,15.960912,98.933740,0.000000,0.685453,0.380807,0.000000,0.000000,0.000000,3.884235,"MULTIPOLYGON (((-111.04584 41.57985, -111.0454..."
560419754001,153.0,73.0,23.0,595.0,117.0,194.0,163.0,0.0,535.0,0.0,...,0.000000,71.524064,0.000000,22.326203,1.470588,0.000000,0.000000,0.000000,1.470588,"MULTIPOLYGON (((-110.97586 41.29238, -110.9756..."
560419754002,354.0,193.0,83.0,945.0,308.0,72.0,370.0,42.0,984.0,0.0,...,11.351351,85.565217,0.000000,13.304348,0.000000,0.000000,0.000000,0.000000,5.304348,"MULTIPOLYGON (((-111.00764 41.25100, -111.0076..."

In [46]:
acs_data = acs_data[acs_data['GEOID']=='06065']

KeyError: 'GEOID'

In [ ]:
schools = schools[schools['CNTY']=='06065']

In [47]:
ej

,OBJECTID,GEOID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,MINORPOP,MINORPCT,LOWINCOME,...,T_OZONE,T_OZONE_D2,T_PM25,T_PM25_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,1,010010201001,636,636,418,294,294,104,0.163522,245,...,36.8 ppb (15%ile),54%ile,9.69 ug/m3 (86%ile),52%ile,4259428.0,28435.0,0,0,13443.155206,6.040790e+06
1,2,010010201002,1287,1287,885,471,485,278,0.216006,210,...,36.8 ppb (15%ile),36%ile,9.69 ug/m3 (86%ile),28%ile,5558385.0,0.0,0,0,11917.089598,7.834160e+06
2,3,010010202001,810,802,568,322,370,548,0.676543,402,...,36.8 ppb (16%ile),70%ile,9.71 ug/m3 (86%ile),72%ile,2058380.0,0.0,0,0,7770.915121,2.900774e+06
3,4,010010202002,1218,1016,875,397,482,670,0.550082,400,...,36.8 ppb (16%ile),67%ile,9.71 ug/m3 (86%ile),69%ile,1267299.0,5669.0,0,0,6506.804784,1.793332e+06
4,5,010010203001,2641,2641,1849,948,1049,899,0.340401,814,...,36.9 ppb (16%ile),51%ile,9.75 ug/m3 (86%ile),48%ile,3866515.0,9054.0,0,0,11070.367848,5.461602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,220329,721537506011,699,699,511,250,502,699,1.000000,631,...,None,None,None,None,7628406.0,4527.0,0,0,19751.958143,8.486394e+06
220329,220330,721537506012,2432,2432,1555,670,1025,2432,1.000000,1906,...,None,None,None,None,1569471.0,0.0,0,0,6704.079316,1.744950e+06
220330,220331,721537506013,976,976,552,231,416,976,1.000000,758,...,None,None,None,None,1789160.0,0.0,0,0,7737.485130,1.989274e+06
220331,220332,721537506021,1707,1689,1481,573,849,1707,1.000000,1465,...,None,None,None,None,1136084.0,1997.0,0,0,5128.437876,1.265271e+06
220332,220333,721537506022,804,804,645,219,634,804,1.000000,758,...,None,None,None,None,16384392.0,250956.0,0,0,20006.384457,1.848868e+07

In [52]:
b = quilt3.Bucket("s3://spatial-ucr")
b.fetch("epa/ejscreen/ejscreen_2020.parquet", "./ejscreen_2020.parquet"), 
ej = pd.read_parquet('ejscreen_2020.parquet')

ej

100%|██████████| 146M/146M [00:04<00:00, 29.5MB/s]

,OBJECTID,ID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,MINORPOP,MINORPCT,LOWINCOME,...,T_OZONE,T_OZONE_D2,T_PM25,T_PM25_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,1,010010201001,636,636,418,294,294,104,0.163522,245,...,36.8 ppb (15%ile),54%ile,9.69 ug/m3 (86%ile),52%ile,4259428.0,28435.0,0,0,13443.155206,6.040790e+06
1,2,010010201002,1287,1287,885,471,485,278,0.216006,210,...,36.8 ppb (15%ile),36%ile,9.69 ug/m3 (86%ile),28%ile,5558385.0,0.0,0,0,11917.089598,7.834160e+06
2,3,010010202001,810,802,568,322,370,548,0.676543,402,...,36.8 ppb (16%ile),70%ile,9.71 ug/m3 (86%ile),72%ile,2058380.0,0.0,0,0,7770.915121,2.900774e+06
3,4,010010202002,1218,1016,875,397,482,670,0.550082,400,...,36.8 ppb (16%ile),67%ile,9.71 ug/m3 (86%ile),69%ile,1267299.0,5669.0,0,0,6506.804784,1.793332e+06
4,5,010010203001,2641,2641,1849,948,1049,899,0.340401,814,...,36.9 ppb (16%ile),51%ile,9.75 ug/m3 (86%ile),48%ile,3866515.0,9054.0,0,0,11070.367848,5.461602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,220329,721537506011,699,699,511,250,502,699,1.000000,631,...,None,None,None,None,7628406.0,4527.0,0,0,19751.958143,8.486394e+06
220329,220330,721537506012,2432,2432,1555,670,1025,2432,1.000000,1906,...,None,None,None,None,1569471.0,0.0,0,0,6704.079316,1.744950e+06
220330,220331,721537506013,976,976,552,231,416,976,1.000000,758,...,None,None,None,None,1789160.0,0.0,0,0,7737.485130,1.989274e+06
220331,220332,721537506021,1707,1689,1481,573,849,1707,1.000000,1465,...,None,None,None,None,1136084.0,1997.0,0,0,5128.437876,1.265271e+06
220332,220333,721537506022,804,804,645,219,634,804,1.000000,758,...,None,None,None,None,16384392.0,250956.0,0,0,20006.384457,1.848868e+07

In [53]:
ej.rename(columns = {'ID' : 'GEOID'}, inplace = True)

ej

,OBJECTID,GEOID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,MINORPOP,MINORPCT,LOWINCOME,...,T_OZONE,T_OZONE_D2,T_PM25,T_PM25_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,1,010010201001,636,636,418,294,294,104,0.163522,245,...,36.8 ppb (15%ile),54%ile,9.69 ug/m3 (86%ile),52%ile,4259428.0,28435.0,0,0,13443.155206,6.040790e+06
1,2,010010201002,1287,1287,885,471,485,278,0.216006,210,...,36.8 ppb (15%ile),36%ile,9.69 ug/m3 (86%ile),28%ile,5558385.0,0.0,0,0,11917.089598,7.834160e+06
2,3,010010202001,810,802,568,322,370,548,0.676543,402,...,36.8 ppb (16%ile),70%ile,9.71 ug/m3 (86%ile),72%ile,2058380.0,0.0,0,0,7770.915121,2.900774e+06
3,4,010010202002,1218,1016,875,397,482,670,0.550082,400,...,36.8 ppb (16%ile),67%ile,9.71 ug/m3 (86%ile),69%ile,1267299.0,5669.0,0,0,6506.804784,1.793332e+06
4,5,010010203001,2641,2641,1849,948,1049,899,0.340401,814,...,36.9 ppb (16%ile),51%ile,9.75 ug/m3 (86%ile),48%ile,3866515.0,9054.0,0,0,11070.367848,5.461602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,220329,721537506011,699,699,511,250,502,699,1.000000,631,...,None,None,None,None,7628406.0,4527.0,0,0,19751.958143,8.486394e+06
220329,220330,721537506012,2432,2432,1555,670,1025,2432,1.000000,1906,...,None,None,None,None,1569471.0,0.0,0,0,6704.079316,1.744950e+06
220330,220331,721537506013,976,976,552,231,416,976,1.000000,758,...,None,None,None,None,1789160.0,0.0,0,0,7737.485130,1.989274e+06
220331,220332,721537506021,1707,1689,1481,573,849,1707,1.000000,1465,...,None,None,None,None,1136084.0,1997.0,0,0,5128.437876,1.265271e+06
220332,220333,721537506022,804,804,645,219,634,804,1.000000,758,...,None,None,None,None,16384392.0,250956.0,0,0,20006.384457,1.848868e+07

In [54]:
ej

,OBJECTID,GEOID,ACSTOTPOP,ACSIPOVBAS,ACSEDUCBAS,ACSTOTHH,ACSTOTHU,MINORPOP,MINORPCT,LOWINCOME,...,T_OZONE,T_OZONE_D2,T_PM25,T_PM25_D2,AREALAND,AREAWATER,NPL_CNT,TSDF_CNT,Shape_Length,Shape_Area
0,1,010010201001,636,636,418,294,294,104,0.163522,245,...,36.8 ppb (15%ile),54%ile,9.69 ug/m3 (86%ile),52%ile,4259428.0,28435.0,0,0,13443.155206,6.040790e+06
1,2,010010201002,1287,1287,885,471,485,278,0.216006,210,...,36.8 ppb (15%ile),36%ile,9.69 ug/m3 (86%ile),28%ile,5558385.0,0.0,0,0,11917.089598,7.834160e+06
2,3,010010202001,810,802,568,322,370,548,0.676543,402,...,36.8 ppb (16%ile),70%ile,9.71 ug/m3 (86%ile),72%ile,2058380.0,0.0,0,0,7770.915121,2.900774e+06
3,4,010010202002,1218,1016,875,397,482,670,0.550082,400,...,36.8 ppb (16%ile),67%ile,9.71 ug/m3 (86%ile),69%ile,1267299.0,5669.0,0,0,6506.804784,1.793332e+06
4,5,010010203001,2641,2641,1849,948,1049,899,0.340401,814,...,36.9 ppb (16%ile),51%ile,9.75 ug/m3 (86%ile),48%ile,3866515.0,9054.0,0,0,11070.367848,5.461602e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220328,220329,721537506011,699,699,511,250,502,699,1.000000,631,...,None,None,None,None,7628406.0,4527.0,0,0,19751.958143,8.486394e+06
220329,220330,721537506012,2432,2432,1555,670,1025,2432,1.000000,1906,...,None,None,None,None,1569471.0,0.0,0,0,6704.079316,1.744950e+06
220330,220331,721537506013,976,976,552,231,416,976,1.000000,758,...,None,None,None,None,1789160.0,0.0,0,0,7737.485130,1.989274e+06
220331,220332,721537506021,1707,1689,1481,573,849,1707,1.000000,1465,...,None,None,None,None,1136084.0,1997.0,0,0,5128.437876,1.265271e+06
220332,220333,721537506022,804,804,645,219,634,804,1.000000,758,...,None,None,None,None,16384392.0,250956.0,0,0,20006.384457,1.848868e+07

In [55]:
seda_2018yr

,GEOID,year,schnam,schcity,sedalea,fips,stateabb,type,level,mingrd,...,perrl,perfrl,perecd,locale,lep,disab_tot,disab_tot_idea,gifted_tot,sch_sped,avgrdall
9,10000500870,2018,Albertville Middle School,Albertville,100005,1,AL,Regular School,Middle,7.0,...,0.064436,0.706320,0.386534,"Town, Distant",0.091698,0.065675,0.060719,0.000000,0.0,403.500000
19,10000500879,2018,Evans Elementary School,Albertville,100005,1,AL,Regular School,Middle,5.0,...,0.042353,0.715294,0.431765,"Town, Distant",0.121780,0.121780,0.110070,0.100703,0.0,425.000000
29,10000500889,2018,Albertville Elementary School,Albertville,100005,1,AL,Regular School,Elementary,3.0,...,0.045254,0.754967,0.451720,"Town, Distant",0.334437,0.086093,0.086093,0.088300,0.0,453.000000
39,10000600193,2018,Kate Duncan Smith DAR Middle,Grant,100006,1,AL,Regular School,Middle,5.0,...,0.087760,0.554273,0.569124,"Rural, Distant",0.007177,0.153110,0.136364,0.071770,0.0,108.250000
49,10000600872,2018,Asbury High School,Albertville,100006,1,AL,Regular School,High,3.0,...,0.081784,0.836431,0.898113,"Rural, Distant",0.069470,0.160878,0.157221,0.000000,0.0,88.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746782,720003002078,2018,ALEJANDRO JR CRUZ (GALATEO PARCELAS),TOA ALTA,7200030,72,PR,Regular School,Elementary,3.0,...,0.067227,0.899160,0.875000,"Suburb, Large",0.000000,0.361345,0.361345,0.000000,0.0,14.000000
746792,720003002079,2018,SEVERO E. COLBERG RAMIREZ,CABO ROJO,7200030,72,PR,Regular School,Elementary,3.0,...,0.072765,0.906445,0.813665,"Suburb, Midsize",0.008316,0.301455,0.301455,0.000000,0.0,82.666664
746802,720003002082,2018,INTERMEDIA JUAN SERRALLES,PONCE,7200030,72,PR,Regular School,Middle,6.0,...,0.072727,0.905051,0.728571,"Sururb, Small",0.012072,0.299799,0.299799,0.000000,0.0,123.666660
746812,720003002083,2018,MARTIN GONZALEZ,CAROLINA,7200030,72,PR,Regular School,Middle,6.0,...,0.070652,0.902174,0.756906,"Suburb, Large",0.000000,0.347826,0.347826,0.000000,0.0,61.333332
746822,720003002084,2018,NEMESIO R. CANALES I,SAN JUAN,7200030,72,PR,Regular School,Elementary,3.0,...,0.071795,0.905128,0.871560,"City, Large",0.000000,0.266667,0.264103,0.000000,0.0,41.333332

In [56]:
acs_data

,n_persons_under_18,n_persons_over_60,n_persons_over_75,n_persons_over_15,n_married,n_widowed_divorced,n_total_families,n_female_headed_families,n_nonhisp_white_persons,n_nonhisp_black_persons,...,p_female_headed_families,p_nonhisp_white_persons,p_nonhisp_black_persons,p_hispanic_persons,p_native_persons,p_asian_persons,p_hawaiian_persons,p_asian_indian_persons,p_veterans,geometry
GEOID,,,,,,,,,,,,,,,,,,,,,
020130001003,287.0,213.0,26.0,1164.0,154.0,218.0,280.0,29.0,234.0,4.0,...,10.357143,16.846652,0.287977,6.839453,41.324694,23.182145,1.007919,23.182145,4.463643,"MULTIPOLYGON (((-159.91033 54.81417, -159.9057..."
020160001001,175.0,157.0,25.0,807.0,64.0,146.0,127.0,10.0,203.0,41.0,...,7.874016,20.949432,4.231166,11.764706,48.710010,9.907121,3.405573,9.907121,12.074303,"MULTIPOLYGON (((179.38874 51.94192, 179.40456 ..."
020160002001,320.0,224.0,21.0,1884.0,256.0,302.0,248.0,3.0,270.0,91.0,...,1.209677,12.517385,4.218822,12.888271,1.205378,66.759388,0.834492,66.759388,2.781641,"MULTIPOLYGON (((-167.24289 53.85467, -167.2370..."
020160002002,468.0,335.0,29.0,2220.0,304.0,435.0,341.0,6.0,916.0,114.0,...,1.759531,34.908537,4.344512,15.472561,5.182927,33.574695,3.696646,33.574695,3.620427,"MULTIPOLYGON (((-167.90386 53.22286, -167.8910..."
020200001011,75.0,79.0,37.0,404.0,49.0,73.0,63.0,0.0,351.0,4.0,...,0.000000,75.646552,0.862069,0.000000,12.715517,3.232759,0.000000,3.232759,9.482759,"MULTIPOLYGON (((-149.47075 61.45923, -149.4505..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560419753004,100.0,179.0,36.0,490.0,156.0,96.0,159.0,0.0,538.0,0.0,...,0.000000,94.885362,0.000000,1.940035,3.174603,0.000000,0.000000,0.000000,5.820106,"MULTIPOLYGON (((-110.95727 41.25777, -110.9572..."
560419753005,310.0,198.0,68.0,754.0,317.0,0.0,344.0,0.0,901.0,0.0,...,0.000000,89.562624,0.000000,8.747515,0.000000,0.000000,0.000000,0.000000,5.864811,"MULTIPOLYGON (((-110.98205 41.21578, -110.9816..."
560419753006,344.0,213.0,21.0,1049.0,263.0,205.0,307.0,49.0,1299.0,0.0,...,15.960912,98.933740,0.000000,0.685453,0.380807,0.000000,0.000000,0.000000,3.884235,"MULTIPOLYGON (((-111.04584 41.57985, -111.0454..."
560419754001,153.0,73.0,23.0,595.0,117.0,194.0,163.0,0.0,535.0,0.0,...,0.000000,71.524064,0.000000,22.326203,1.470588,0.000000,0.000000,0.000000,1.470588,"MULTIPOLYGON (((-110.97586 41.29238, -110.9756..."
560419754002,354.0,193.0,83.0,945.0,308.0,72.0,370.0,42.0,984.0,0.0,...,11.351351,85.565217,0.000000,13.304348,0.000000,0.000000,0.000000,0.000000,5.304348,"MULTIPOLYGON (((-111.00764 41.25100, -111.0076..."

In [57]:
schools

,GEOID,NAME,OPSTFIPS,STREET,CITY,STATE,ZIP,STFIP,CNTY,NMCNTY,...,CBSATYPE,CSA,NMCSA,NECTA,NMNECTA,CD,SLDL,SLDU,SCHOOLYEAR,geometry
5576,060000710348,California School for the Deaf-Riverside,06,3044 Horace St.,Riverside,CA,92506,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.37942 33.94373)
5727,060002702451,Tuscany Hills Elementary,06,23 Ponte Russo,Lake Elsinore,CA,92532,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.28897 33.68620)
5728,060002702452,Donald Graham Elementary,06,35450 Frederick St.,Wildomar,CA,92595,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.25699 33.60594)
5729,060002705011,David A. Brown Middle,06,21861 Grand Ave.,Wildomar,CA,92595,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.27617 33.59164)
5730,060002707605,William Collier Elementary,06,20150 Mayhall Dr.,Wildomar,CA,92595,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0642,06067,06028,2017-2018,POINT (-117.30098 33.61655)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15979,069113512749,Val Verde Academy,06,25100 Red Maple Ln.,Moreno Valley,CA,92551,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.22376 33.88578)
15980,069113513435,El Potrero Pre-School,06,16820 Via Pamplona,Moreno Valley,CA,92551,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.21514 33.87590)
15981,069113513992,Orange Vista High,06,1400 E. Orange Ave.,Perris,CA,92571,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06061,06031,2017-2018,POINT (-117.19894 33.81450)
100864,590010500138,Sherman Indian High School,59,9010 Magnolia Ave,Riverside,CA,92503,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0641,06060,06031,2017-2018,POINT (-117.43657 33.92276)
100956,590019700136,Noli School,59,P.O. Box 700,San Jacinto,CA,92581,06,06065,Riverside County,...,1,348,"Los Angeles-Long Beach, CA",N,N,0636,06042,06023,2017-2018,POINT (-116.90631 33.77266)